.mainContainer{
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
    flex-direction: column;


}
.itemBlock{
    display: flex;
}
.icon{
    margin-left: 10px;
}
.deleteIcon{
   font-size: 30px;
    margin-left: 10px;
    color: red;

}
.icon:hover,
.deleteIcon:hover{
    cursor: pointer;
}
